.more-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 166px;
}

.more-content__button {
  width: 320px;
  min-height: 36px;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  outline: 0;
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.more-content__button:hover {
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
}