.portfolio {
  max-width: 1140px;
  margin: 100px auto;
  padding: 0 50px;
}

.portfolio__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0 0 30px;
}

.portfolio__item {
  border-bottom: 1px solid #e6e6e6;
  padding: 14px 0;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: rgba(0, 0, 0, 1);
}

.portfolio__link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.portfolio__link::after {
  content: '↗';
  line-height: 60px;
  margin-left: auto;
}

@media screen and (max-width: 1023px) {
  .portfolio {
    margin: 90px auto 70px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    margin: 70px auto 50px;
    padding: 0 14px;
  }

  .portfolio__title {
    font-size: 14px;
    margin: 0 0 20px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}