.account__link_sidebar {
  align-self: center;
  margin-top: auto;
}

.account__button {
  min-width: 100px;
  background-color: rgb(249, 249, 249);
  border-radius: 20px;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.account__button:hover {
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1023px) {
  .account__link_header {
    display: none;
  }
}